@charset "utf-8";


#jd_seckill{
    width: 100%;
    overflow: hidden;
    background-color: #f4f4f4;
    >.container{
        padding-top: 30px;
        width: 1190px;
        overflow: hidden;
        >.left{
            width: 190px;
            height: 260px;
            background: url("../img/jd_seckill/bg.png");
            float: left;
            color: white;
            display: flex;
            flex-direction: column;
            >span{
                font-size: 30px;
                font-weight: bold;
                margin-top: 31px;
            }
            >div{
                &:first-of-type{
                    margin-top: 90px;
                    >span{
                        &:first-of-type{
                            font-weight: bold;
                            font-size: 18px;
                        }
                        &:last-of-type{
                            font-size: 14px;
                        }
                    }
                }
                &:last-of-type{
                    margin-top: 18px;
                    display: flex;
                    >span:nth-child(odd){
                        width: 30px;
                        height: 30px;
                        background-color: rgb(49, 49, 49);
                        line-height: 30px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    >span:nth-child(even){
                        font-size: 18px;
                        margin: 0 8px;
                    }
                }
            }
        }
        
        >.center{
            float: left;
            margin: 0;
            width: 800px;
            overflow: hidden;
            background-color: red;
                .swiper-slide{
                    width: 800px;
                    height: 260px;
                    background-color: white;
                   >div{
                    width: 200px;
                    height: 260px;
                    float: left;
                    img{
                        width: 140px;
                        height: 140px;
                        margin: 30px 30px 0 30px;
                    }
                    h6{
                        display: inline-block;
                        width: 160px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: center;
                        font-size: 12px;
                        color: #333;
                        margin: 13px 20px 0px;
                        &:hover{
                            color: #c81623;
                        }
                    }
                    >div{
                        &:nth-of-type(2){
                            width: 160px;
                            height: 22px;
                            line-height: 22px;
                            border: 1px solid #c81623;
                            background-color: #e1251b;
                            >div{
                                float: left;
                                &:first-of-type{
                                    width: 92px;
                                    height: 22px;
                                    line-height: 22px;
                                    text-align: center;
                                    position: relative;
                                    span{
                                        &:first-of-type{
                                            font-size: 12px;
                                        }
                                        &:nth-of-type(2){
                                            font-size: 16px;
                                            font-weight: bold;
                                            color: white;
                                        }
                                    }
                                    &::after{
                                        content: " ";
                                        width: 0;
                                        height: 0;
                                        border-color: transparent white transparent transparent;
                                        border-style: solid;
                                        border-width: 22px 8px 0 0;
                                        position: absolute;
                                        top: 0;
                                        left: 84px;
                                    }
                                }
                                &:last-of-type{
                                    background-color: white;
                                    float: right;
                                    width: 68px;
                                    height: 22px;
                                    line-height: 22px;
                                    color: #999;
                                    letter-spacing: 0;
                                    text-align: center;

                                    span{
                                        font-size: 12px;
                                        margin-left: -6px;
                                        text-decoration: line-through;
                                    }
                                }
                            }

                        }
                    }
                   }
                   
                }

        }

        >.right{
            float: left;
            width: 180px;
            padding: 10px;
            height: 240px;
            background-color: white;
        }

    }
}

