@charset 'utf-8';
#J_niceGoods {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
#J_niceGoods > .container {
  width: 1190px;
  overflow: hidden;
}
#J_niceGoods > .container > .left {
  width: 190px;
  height: 260px;
  float: left;
  background-image: url('../img/J_niceGoods/left_bg.png');
  background-size: cover;
  cursor: pointer;
}
#J_niceGoods > .container > .left div {
  width: 160px;
  height: 90px;
  margin-top: 15px;
  background: url("../img/J_niceGoods/left_1.png");
  opacity: 0.9;
}
#J_niceGoods > .container > .left div div {
  width: 140px;
  height: 26px;
  padding: 55px 0 10px 20px;
  color: white;
}
#J_niceGoods > .container > .left div div span:last-of-type {
  margin-left: 5px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 17px;
  line-height: 17px;
  height: 17px;
  transition: 0.3s;
}
#J_niceGoods > .container > .left:hover span:nth-of-type(2) {
  border: none;
  background-color: #c81623;
}
#J_niceGoods > .container > .right {
  width: 990px;
  margin-left: 10px;
  height: 260px;
  float: left;
  background-color: white;
}
#J_niceGoods > .container > .right > .swiper-container4 {
  position: relative;
  height: 260px;
  overflow: hidden;
  padding: 0 20px;
}
#J_niceGoods > .container > .right > .swiper-container4 .swiper-slide {
  cursor: pointer;
}
#J_niceGoods > .container > .right > .swiper-container4 .swiper-slide:nth-of-type(odd) {
  margin: 50px 50px 0  0;
}
#J_niceGoods > .container > .right > .swiper-container4 .swiper-slide:nth-of-type(odd) {
  margin: 20px 50px 0  0;
}
#J_niceGoods > .container > .right > .swiper-container4 .swiper-slide div {
  float: left;
  width: 150px ;
  height: 150px;
  margin: 10px 0;
}
#J_niceGoods > .container > .right > .swiper-container4 .swiper-slide div:first-of-type {
  margin-left: 20px;
}
#J_niceGoods > .container > .right > .swiper-container4 .swiper-slide div img {
  width: 150px;
  height: 150px;
}
#J_niceGoods > .container > .right > .swiper-container4 .swiper-slide div p {
  width: 150px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}
