@charset "utf-8";
#jd_seckill {
  width: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
}
#jd_seckill > .container {
  padding-top: 30px;
  width: 1190px;
  overflow: hidden;
}
#jd_seckill > .container > .left {
  width: 190px;
  height: 260px;
  background: url("../img/jd_seckill/bg.png");
  float: left;
  color: white;
  display: flex;
  flex-direction: column;
}
#jd_seckill > .container > .left > span {
  font-size: 30px;
  font-weight: bold;
  margin-top: 31px;
}
#jd_seckill > .container > .left > div:first-of-type {
  margin-top: 90px;
}
#jd_seckill > .container > .left > div:first-of-type > span:first-of-type {
  font-weight: bold;
  font-size: 18px;
}
#jd_seckill > .container > .left > div:first-of-type > span:last-of-type {
  font-size: 14px;
}
#jd_seckill > .container > .left > div:last-of-type {
  margin-top: 18px;
  display: flex;
}
#jd_seckill > .container > .left > div:last-of-type > span:nth-child(odd) {
  width: 30px;
  height: 30px;
  background-color: #313131;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#jd_seckill > .container > .left > div:last-of-type > span:nth-child(even) {
  font-size: 18px;
  margin: 0 8px;
}
#jd_seckill > .container > .center {
  float: left;
  margin: 0;
  width: 800px;
  overflow: hidden;
  background-color: red;
}
#jd_seckill > .container > .center .swiper-slide {
  width: 800px;
  height: 260px;
  background-color: white;
}
#jd_seckill > .container > .center .swiper-slide > div {
  width: 200px;
  height: 260px;
  float: left;
  cursor: pointer;
}
#jd_seckill > .container > .center .swiper-slide > div img {
  width: 140px;
  height: 140px;
  margin: 30px 30px 0 30px;
}
#jd_seckill > .container > .center .swiper-slide > div img:hover {
  opacity: 0.8;
}
#jd_seckill > .container > .center .swiper-slide > div h6 {
  display: inline-block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
  color: #333;
  margin: 13px 20px 0px;
}
#jd_seckill > .container > .center .swiper-slide > div h6:hover {
  color: #c81623;
}
#jd_seckill > .container > .center .swiper-slide > div > div:nth-of-type(2) {
  width: 160px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #c81623;
  background-color: #e1251b;
}
#jd_seckill > .container > .center .swiper-slide > div > div:nth-of-type(2) > div {
  float: left;
}
#jd_seckill > .container > .center .swiper-slide > div > div:nth-of-type(2) > div:first-of-type {
  width: 92px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  position: relative;
}
#jd_seckill > .container > .center .swiper-slide > div > div:nth-of-type(2) > div:first-of-type span:first-of-type {
  font-size: 12px;
}
#jd_seckill > .container > .center .swiper-slide > div > div:nth-of-type(2) > div:first-of-type span:nth-of-type(2) {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
#jd_seckill > .container > .center .swiper-slide > div > div:nth-of-type(2) > div:first-of-type::after {
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 22px 8px 0 0;
  position: absolute;
  top: 0;
  left: 84px;
}
#jd_seckill > .container > .center .swiper-slide > div > div:nth-of-type(2) > div:last-of-type {
  background-color: white;
  float: right;
  width: 68px;
  height: 22px;
  line-height: 22px;
  color: #999;
  letter-spacing: 0;
  text-align: center;
}
#jd_seckill > .container > .center .swiper-slide > div > div:nth-of-type(2) > div:last-of-type span {
  font-size: 12px;
  margin-left: -6px;
  text-decoration: line-through;
}
#jd_seckill > .container > .center > .swiper-container2 {
  position: relative;
}
#jd_seckill > .container > .center > .swiper-container2 .swiper-button-prev,
#jd_seckill > .container > .center > .swiper-container2 .swiper-button-next {
  position: absolute;
  width: 25px;
  height: 35px;
  outline: none;
  line-height: 35px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: none;
  transition: 0.3s;
}
#jd_seckill > .container > .center > .swiper-container2 .swiper-button-prev:hover,
#jd_seckill > .container > .center > .swiper-container2 .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
#jd_seckill > .container > .center > .swiper-container2 .swiper-button-prev {
  border-radius: 0 18px 18px 0;
}
#jd_seckill > .container > .center > .swiper-container2 .swiper-button-next {
  border-radius: 18px  0 0 18px;
}
#jd_seckill > .container > .right {
  float: left;
  width: 180px;
  padding: 10px;
  height: 240px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}
#jd_seckill > .container > .right > .swiper-container3 {
  overflow: hidden;
  background-image: linear-gradient(to top, rgba(73, 111, 124, 0.1) 20%, white 60%);
}
#jd_seckill > .container > .right img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 20px 30px 0;
}
#jd_seckill > .container > .right .bottom {
  height: 90px;
  margin-top: 10px;
  text-align: center;
}
#jd_seckill > .container > .right .bottom p {
  font-size: 14px;
}
#jd_seckill > .container > .right .bottom p:first-of-type {
  color: #666;
}
#jd_seckill > .container > .right .bottom p:last-of-type {
  font-weight: 700;
  color: #333;
}
#jd_seckill > .container > .right .bottom div {
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 14px;
  width: 82px;
  height: 24px;
  line-height: 22px;
  padding-left: 4px ;
  border: 1px solid #e1251b;
  font-weight: 700;
  font-size: 12px;
  color: #e1251b;
  cursor: pointer;
}
#jd_seckill > .container > .right .bottom div:hover {
  background-color: #e1251b;
}
#jd_seckill > .container > .right .bottom div:hover span {
  color: white;
}
#jd_seckill > .container > .right .swiper-container3 {
  position: relative;
}
#jd_seckill > .container > .right .swiper-pagination {
  left: 0;
  bottom: 16px;
  float: left;
  position: absolute;
  color: #c81623;
  width: 100%;
  height: 8px;
}
#jd_seckill > .container > .right .swiper-pagination span {
  width: 4px;
  height: 4px;
  margin-right: 1px;
}
